@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add User</title>
</head>
<body>
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-header">               
                <a class="navbar-brand" href="#">Eskom Solution</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Storage</a></li>
                <li><a href="#">Stations</a></li>
                <li><a href="#">Power Levels</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Maintenance Roster</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>
    @*http://logok.org/wp-content/uploads/2015/01/Eskom-logo-880x645.png
    http://logok.org/wp-content/uploads/2015/01/Eskom-logo-logotype-1024x768.png*@
    <div class="wrapper">
        <img style="width:15%;" src="https://i.imgur.com/UHU2hB9.png" />
        <h1>Add User</h1>

        <div class="container">

            <form class="form-horizontal">

                <div class="form-group">
                    <label class="control-label col-sm-4" for="name">First Name:</label>                   
                        <input type="text" class="form-control" id="name" placeholder="e.g. Jack" required>                    
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4"  for="txname">Surname:</label>
                    <input id="itemname" type="text" name="surname" class="form-control" placeholder="e.g. Black" required />
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-4" for="txdesc">ID Number:</label>
                    <input id="txdesc" type="text" name="id" class="form-control" placeholder="Use the correct format" required />
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="gen">Gender:</label>
                    <select class="form-control" id="gen" name="gender">
                        <option >Male</option>
                        <option >Female</option>
                        <option >Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Birth Year:</label>
                    <input id="itemname" type="date" name="birth" class="form-control" placeholder="e.g. Birth date" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Country:</label>
                    <input id="itemname" type="text" name="surname" class="form-control" placeholder="e.g. South Africa" required />
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">City:</label>
                    <input id="itemname" type="text" name="city" class="form-control" placeholder="e.g. Pretoria" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Department:</label>
                    <input id="itemname" type="text" name="dep" class="form-control" placeholder="e.g. Electrics" required />
                </div>
                <br />

                <h1>Create Login Credentials</h1>
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Email Address:</label>
                    <input id="itemname" type="text" name="email" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Username:</label>
                    <input id="itemname" type="text" name="user" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Password:</label>
                    <input id="itemname" type="text" name="pass" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="txname">Confirm Password:</label>
                    <input id="itemname" type="text" name="pass2" class="form-control" required />
                </div>
                <br />
                <br />
                <button type="submit" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-ok"></span> Sign Up
                </button>

                <button type="button" onclick="window.location.href='@Url.Action("HomePage", "Eskom")';" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </button>

            </form>

        </div>
    </div>
</body>
</html>
